<table class="table">
  <tbody>
    <% @feeds.each do |feed| %>
      <% if current_user == nil %>
      <tr>
        <td><%= feed.user.name %></td>
        <td><%= image_tag feed.image.url, class: 'feed_img' %></td>
        <td ><%= feed.content %></td>
        <td><%= link_to '投稿を見る', feed %></td>
      </tr>
      <% elsif feed.user_id == current_user.id %>
      <tr>
        <td><%= feed.user.name %></td>
        <td><%= image_tag feed.image.url, class: 'feed_img' %></td>
        <td ><%= feed.content %></td>
        <td><%= link_to '投稿を見る', feed %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '編集する', edit_feed_path(feed) %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '削除する', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% else %>
      <tr>
        <td><%= feed.user.name %>
        <td><%= image_tag feed.image.url, class: 'feed_img' %></td>
        <td ><%= feed.content %></td>
        <td><%= link_to '投稿を見る', feed %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>