<h1 class="title_update_profile">Update your profile</h1>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.profileimage.url == nil %>
    <div class="profile_field">
      <%= f.label :profile_image %>
      <%= f.file_field :profileimage %>
    </div>
    <div class="label_name">
      <%= f.label :name %>
    </div>
    <div class="text_field_name">
      <%= f.text_field :name %>
    </div>
    <div class="label_email">
      <%= f.label :email %>
    </div>
    <div class="user_email_field">
      <%= f.email_field :email %>
    </div>
    <div class="label_password">
      <%= f.label :password %>
    </div>
    <div class="user_password_field">
      <%= f.password_field :password %>
    </div>
    <div class="label_password_confirmation">
      <%= f.label :password_confirmation %>
    </div>
    <div class="password_field_password_confirmation">
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="label_public_relations">
      <%= f.label :public_relations %>
    </div>
    <div class="pr_text_field">
      <%= f.text_field :pr %>
    </div>
    <div class="submit_createacount">
      <%= f.submit "更新する" %>
    </div>
  <% else %>
    <div class="profile_img">
      <%= image_tag @user.profileimage.url, class: 'profileimg' %>
    </div>
    <div class="profile_field">
      <%= f.label :profile_image %>
      <%= f.file_field :profileimage %>
    </div>
    <div class="label_name">
      <%= f.label :name %>
    </div>
    <div class="text_field_name">
      <%= f.text_field :name %>
    </div>
    <div class="label_email">
      <%= f.label :email %>
    </div>
    <div class="user_email_field">
      <%= f.email_field :email %>
    </div>
    <div class="label_password">
      <%= f.label :password %>
    </div>
    <div class="user_password_field">
      <%= f.password_field :password %>
    </div>
    <div class="label_password_confirmation">
      <%= f.label :password_confirmation %>
    </div>
    <div class="password_field_password_confirmation">
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="label_public_relations">
      <%= f.label :public_relations %>
    </div>
    <div class="pr_text_field">
      <%= f.text_field :pr %>
    </div>
    <div class="submit_createacount">
      <%= f.submit "更新する" %>
    </div>
  <% end %>
  <div class="to_top">
    <%= link_to 'トップ画面へ', "/" %>
    <%= link_to "投稿一覧へ", feeds_path %>
    <%= link_to "お気に入り一覧へ", favorite_index_users_path %>
  </div>
<% end %>